header{
    border-bottom: solid 1px red;
}
#content{
    border: solid 1px blue;
    padding: 100px;
}
.bgRed{
    background-color: red;
}
.bgGreen{
    background-color: green;
}
.bgYellow{
    background-color: yellow;
}
.border{
    border: solid 1px black;
}

table,td{
    border: solid 1px black;
    border-collapse: collapse;
}
.containerMap{
    width: 70vw;
    height: 70vw;

}

.containerVistaDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

